.icon {
    display: flex;
    justify-content: center;
}

.icon__list {
    width: 33%;
    
}
.icon__list:first-child span{
    margin-right: 5px;
}
.icon__list:nth-child(2){
    display: flex;
    justify-content: center;
}
.icon__list:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon__list .fa-battery-full {
    margin: 0px 5px;
}